nav {
  height: 64px;
  width: 100%
}

.logo {
  padding-left: 24px;
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  display: inline;
}

li a {
  float: right;
  padding: 0 16px;
}

h1 {
  font-size: 2rem;
}

@media all and (max-width: 800px) {
    h1 {font-size:1rem;}
}

.banner {
  width: 100%;
  background-color: lightgrey;
  display: inline-block;
  border: 1px solid red;
}

.learn-text {
  border: 1px solid green;
  float: right;
  width: 35%;
  margin-top: 15%;
}

.students {
  width: 60%;
  margin: 32px 24px;
  float: left;
  display: inline-block;
}

.start-button {
  color: white;
  background-color: black;
  padding: 8px 0;
  margin: auto;
  text-align: center;
  width: 100%;
}

.practice-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 65%;
  border: 1px solid red;
  background-color: white;
}

.practice-pic-container {
  border: 1px solid green;
}

.practice-text-container {
  margin: 0 24px;
  border: 1px solid yellow;
}

.student {
  width: 92%;
  margin: 32px 24px;
}

/*
.practice h1, .practice p {
  width: 92%;
  text-align: left;
  margin-left: 24px;
}
*/

/* student pic div */

/*
.student {
  width: 92%;
  margin: 32px 24px;
  float: left;
  display: inline-flex;
}
*/

.orientation-box {
  width: 423px;
  height: 168px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

.orientation-img {
  width: 35%;
  margin: 16px;
}

.orientation-box a {
  padding-top: 8px;
}

#orientation {
  display: inline-block;
}

.learning {
  border: 1px solid blue;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
}

.learning-2 {
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  height: auto;
  border: 1px solid blue;
  width: 100%;
  background-color: lightgrey;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.learning-box {
  border: 1px solid green;
  display: inline-block;
  background-color: white;
  width: 266px;
  margin: 16px;
  text-align: left;
  padding: 32px;
}

.thesis {
  border: 1px solid blue;
  width: 100%;
  background-color: white;
  text-align: center;
}

footer {
  border: 1px solid black;
}