* {
  margin: 0;
  padding: 0;
}

/* top nav bar */

.nav-flex-container {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-container-left {
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link-container {
  padding: 16px;
}

.nav-container-phone {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-box-phone {
  width: 100%;
  height: 180px;
  border: 1px solid red;
  background-color: grey;
}

/* banner */

.students {
  width: 92%;
  margin: 32px 24px;
  float: left;
  display: inline-block;
}

.start-button {
  color: white;
  background-color: black;
  padding: 8px 0;
  margin: auto;
  text-align: center;
  width: 100%;
}

.orientation-text-container-mobile {
  background-color: lightgrey;
  padding: 16px;
  border: 1px solid black;
}

/* container for orientation and practice */

.p-o-container { /* holds flex items */
  display: flex;
  flex-direction: row;
}

/* practice section */

.practice-container { /* holds practice img and text */
  display: flex;
  flex-direction: column;
  width: 65%;
  border: 1px solid red;
  background-color: white;
}

.practice-img-container {
  border: 1px solid green;
}

.practice-text-container {
  margin: 0 24px;
  border: 1px solid yellow;
}

.student {
  width: 92%;
  margin: 32px 24px;
}

/* orientation section */

.orientation-flex-container { /* holds flex items */
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}

.orientation-container { /* holds orientation img and text */
  width: 423px;
  height: auto;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
}

.orientation-flex-container-test { /* holds orientation img and text */
  width: 423px;
  height: auto;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
}

.orientation_img_container { /* holds img */
  width: 35%;
  margin: 16px;
}

.orientation-img {
  width: 100%;
  border: 1px solid red;
}

.orientation-text-container { /* holds text */
  width: 65%;
  border: 1px solid blue;
}

#sea-captain {
  background-color: lightgrey;
}

/* orientation phone section */

.orientation-flex-container-phone {
  border: 1px solid blue;
} 

.orientation-container-phone {
  border: 1px solid orange;
} 

.orientation_img_container-phone {
  border: 1px solid yellow;
  padding: 16px;
}

.orientation-text-container-phone {
  border: 1px solid purple;
  margin: 0 16px 16px 16px;

}

.orientation-img-mobile {
  width: 100%;
  border: 1px solid red;

}

/* learning section */

.learning {
  border: 1px solid blue;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
}

.learning-2 {
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  height: auto;
  border: 1px solid blue;
  width: 100%;
  background-color: lightgrey;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.learning-box {
  border: 1px solid green;
  display: inline-block;
  background-color: white;
  width: 266px;
  margin: 16px;
  text-align: left;
  padding: 0;
}

/* learning mobile */

.learning-mobile {
  border: 1px solid blue;
  width: 100%;
  text-align: center;
}

.learning-2-mobile {
  display: flex;
  flex-direction: column;     /* make main axis horizontal (default setting) */
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  
}

.learning-box-mobile {
  border: 1px solid green;
  background-color: lightgrey;
  padding: 16px 0 16px 16px;
  margin: 8px 16px;
  width: 90%;
}

/* thesis section */

.thesis {
  border: 1px solid blue;
  width: 100%;
  background-color: white;
  text-align: center;
}

.thesis-video-mobile {
  border: 1px solid purple;
}

video {
  margin: 32px 16px 24px 24px;
}

/* footer section */

footer {
  border: 1px solid black;
  height: 100px;
}

@media only screen and (max-width: 480px) {
  .practice-img-container, .practice-container, .nav-text-container, .nav-container-right, .orientation-flex-container, .orientation-container, .orientation-img-container, .orientation-text-container, #sea-captain, .orientation-img, .learning, .learning-2, .learning-box {
    display: none;
  }
  
  .orientation-container {
    justify-content: center;
  }
  
  .nav-flex-container {
    display: none;
  }

  video {
    margin: 0;
  }

  .footer-mobile {
    padding: 40px 16px 16px 16px;
  }

  footer {
    height: 50px;
  }

}

@media only screen and (min-width: 481px) {
  .nav-container-phone {
    display: none;
  }

  .nav-box-phone, .footer-mobile, .thesis-video-mobile, .learning-box-mobile, .learning-2-mobile, .learning-mobile {
    display: none;
  }

  .orientation-flex-container-phone, .orientation-container-phone, .orientation_img_container-phone, .orientation-text-container-phone, .learning-mobile, .orientation-text-container-mobile {
    display: none;
  }

}