* {
  margin: 0;
  padding: 0;
}

/* top nav bar */

.nav-flex-container {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-container-left {
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link-container {
  padding: 16px;
}

.banner {
  width: 100%;
  background-color: lightgrey;
  display: inline-block;
  border: 1px solid red;
}

.learn-text {
  border: 1px solid green;
  float: right;
  width: 35%;
  margin-top: 15%;
}

.students {
  width: 92%;
  margin: 32px 24px;
  float: left;
  display: inline-block;
}

.start-button {
  color: white;
  background-color: black;
  padding: 8px 0;
  margin: auto;
  text-align: center;
  width: 100%;
}

/* container for orientation and practice */

.p-o-container { /* holds flex items */
  display: flex;
  flex-direction: row;
}

/* practice section */

.practice-container { /* holds practice img and text */
  display: flex;
  flex-direction: column;
  width: 65%;
  border: 1px solid red;
  background-color: white;
}

.practice-img-container {
  border: 1px solid green;
}

.practice-text-container {
  margin: 0 24px;
  border: 1px solid yellow;
}

.student {
  width: 92%;
  margin: 32px 24px;
}

/* orientation section */

.orientation-flex-container { /* holds flex items */
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}

.orientation-container { /* holds orientation img and text */
  width: 423px;
  height: auto;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
}

.orientation-flex-container-test { /* holds orientation img and text */
  width: 423px;
  height: auto;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
}

.orientation_img_container { /* holds img */
  width: 35%;
  margin: 16px;
}

.orientation-img {
  width: 100%;
  border: 1px solid red;
}

.orientation-text-container { /* holds text */
  width: 65%;
  border: 1px solid blue;
}

#sea-captain {
  background-color: lightgrey;
}

/* learning section */

.learning {
  border: 1px solid blue;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
}

.learning-2 {
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  height: auto;
  border: 1px solid blue;
  width: 100%;
  background-color: lightgrey;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.learning-box {
  border: 1px solid green;
  display: inline-block;
  background-color: white;
  width: 266px;
  margin: 16px;
  text-align: left;
  padding: 0;
}

/* thesis section */

.thesis {
  border: 1px solid blue;
  width: 100%;
  background-color: white;
  text-align: center;
}

video {
  margin: 32px 16px 24px 24px;
}

/* footer section */

footer {
  border: 1px solid black;
  height: 100px;
}

